- type: job
  id: BlueshieldOfficer
  name: Blueshield Officer
  description: "Act as a bodyguard and advisor for Command and CentCom VIPs."
  playTimeTracker: JobBlueshieldOfficer
  requirements:
    - !type:OverallPlaytimeRequirement
      time: 72000 #20 hrs
    - !type:DepartmentTimeRequirement
      department: Medical
      time: 18000 # 5 hours
    - !type:DepartmentTimeRequirement
      department: Security
      time: 36000 # 10 hours
  weight: 20
  startingGear: BlueshieldOfficerGear
  icon: "JobIconNanotrasen"
  requireAdminNotify: true
  joinNotifyCrew: true
  supervisors: job-supervisors-ntr-centcom
  canBeAntag: false
  access:
  - Security
  - Brig
  - External
  - Cryogenics
  - Maintenance
  - Engineering
  - Medical
  - Research
  - Command
  - CentralCommand
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff

- type: startingGear
  id: BlueshieldOfficerGear
  equipment:
    shoes: ClothingShoesBootsJackFilled
    eyes: ClothingEyesGlassesMedSec
    gloves: ClothingHandsGlovesCombat
    id: ERTSecurityPDA
    ears: ClothingHeadsetAltCommand
    belt: ClothingBeltSecurityFilled
    pocket1: UniqueBlueshieldOfficerLockerTeleporter
  storage:
    back:
    - BoxSurvivalSlots
    - Flash
    - BluespaceLifelineImplanter #DeathAcidifierImplanter
